body {
  padding: 40px;
  padding-top: 5px;
  font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}

#map {
  	position: relative;
	height: 300px;
	width: 98%;
	text-align: center;
	padding: 10px;
	/*border: solid 1px black;*/
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: all 3.5s ease-in-out;
	transition: all 3.5s ease-in-out;
	background-color: #f2e5e5;
}

#nav {
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

#nav ul {
	padding: 0px;
}

#nav li {
	display: inline;
	margin-right: 10px;
}

li a {
	background-color: #8b0000;
	color: white;
	padding: 15px 30px;
	text-decoration: none;

}

li a.active {
	color: black;
}

li a:hover:not(.active) {
	background-color: #9f0000;
	color: white;
}

.parent {
	position: relative;
	top: 0;
	left: 0;
}

#swear {
 	position: absolute;
/*	height: 100px;
	width: 800px;*/
	text-align: center;
	padding: 10px;
	top: -50px;
	left: 270px;
	margin: 0 auto;
}

#swear-left {
	height: 400px;
	width: 400px;
	left: 50px;
}

#swear-right {
	height: 400px;
	width: 400px;
	left: 50px;
}

.g-signin2 {
	position: absolute;
    right:60px;
    top:25px;
}

#mouse-trail {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #bdbdbd;
}

.pin {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: black;
}

.pin:hover {
  cursor: pointer;
}

.pin-dialog {
  z-index: 1;
  position: absolute;
  width: 200px;
  height: 100px;
  border: solid 1px black;
  background-color: white;
  top: -110px;
}

.pin-dialog:hover {
  cursor:pointer;
}

.pin-hover-label {
  display: none;
  background-color: white;
  width: 100px;
  position: absolute;
  border: solid 1px black;
  left: 20px;
  top: -5px;
}

.pin-click-label {
  display: none;
}

#mapText {
	position: absolute;
	font-family: 'Tangerine', cursive;
	font-size: 20px;
	background-color: #8b0000;
	color: white;
	padding: 15px 30px;
	text-decoration: none;
    margin: auto;
    margin-top: -50px;
    margin-left: 405px;
    position: absolute;
    top: 50%;
    left: 115px;
}

#mapText:hover {
	background-color: #9f0000;
	cursor: pointer;
}

